body {
    max-width: 37.5em;
    margin: auto;
    background: #fff;
    color: #000;
    font-family: sans-serif;
}

p {
    line-height: 1.5;
}

/* Every article, except the first one */
article + article {
    margin-top: 3em;
    padding-top: 3em;
    border-top: 1px solid #c5c5c5;
}
